/* App.css */
.app {
    height: 100vh;
    width: 100vh;
    border: 2px solid #794b67;
  }
  
  .content {
    padding-left: 240px;
    border: 2px solid #ff22a7;
  }

  body {
    margin: 0;
    padding: 0;
  }
  