.bottom-sheet {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1000;
    animation: slide-up 0.3s ease-out;
    overflow-y: auto;
    height: 100vh;
}

.bottom-sheet.closing {
    animation: slide-down 0.3s ease-in forwards;
}

.sheet-content {
    padding: 20px;
}

.sheet-content h1 {
    font-weight: bold; /* Makes the font weight bold */
    font-size: 22px; /* Adjust size of the title */    
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #000000;
    border: none;
    width: 36px; /* Size of the button */
    height: 36px; /* Size of the button */
    border-radius: 50%; /* Makes the button circular */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px; /* Adjust size of the "X" */
}

.esc-instruction {
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
}


/* Açılma animasyonu */
@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Kapanma animasyonu */
@keyframes slide-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}
